
body{
  margin:0;
  background: rgb(188, 230, 247);
}

h1{
  font-size: 40px;
}

.pocha{
  padding: 50px 150px;
  /* animation-name: move-pochacco; */
  /* animation-duration: 4s; */
  /* animation-iteration-count: infinite; */
  animation: move-pochacco  4s 2s infinite;
}

@keyframes move-pochacco {
 25%{
  transform: translate(160px,0) scale(-1,1);
 }
 50%{
  transform: translate(160px,160px);
 }
 75%{
  transform: translate(0,160px);
 }
 100%{
  transform: none;
 }
}

.message{
  width: 400px;
  font-size: 50px;
  background: black;
  color: white;
  padding: 8px 16px;
  border-radius: 4px;
  position: fixed;
  right: 32px;
  bottom: 32px;
  animation: popup 2s forwards;
}

@keyframes popup {
  0%{
    transform: translateY(10px);
    opacity: 0;
  }
  20%{
    transform: translateY(0);
    opacity: 1;
  }
  80%{
    transform: translateY(0);
    opacity: 1;
  }
  100%{
    transform: translateY(10px);
    opacity: 0;
  }
}